.product-details {
    text-align: center;
    font-size: 1.2em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

.cart-product-image {
    width: 6rem;
    height: 4rem;
}

.remove_icon{
    font-size: large;
}

@media (max-width:767px) {
    .cart-item-products{
        justify-content: space-around;
    }
}
