.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media (max-width:821px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 0.5rem;
    }
}

@media (max-width:550px) {
    .grid-view {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 1.5rem;
    }
}