.outer-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 16vh;
  /* background-color: #B8E8FC; */
}

.section {
  background-color: #419197;
  color: #001C30;
  text-align: center;
  padding: 4rem 2rem; 
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.heading {
  
  font-size: 4rem;
  margin: 4rem 2rem;
  /* Adjusted margin for smaller screens */
}

.para {
  font-size: 1.5rem;
  margin: 2rem; /* Adjusted margin for smaller screens */
}

.button {
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem;
    margin: 3rem 1rem; /* Adjusted margin for smaller screens */
  }

  .para {
    font-size: 1.2rem;
    margin: 1.5rem; /* Adjusted margin for smaller screens */
  }

  .button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2.5rem;
    margin: 2rem 0.5rem; /* Further adjusted margin for smaller screens */
  }

  .para {
    font-size: 1rem;
    margin: 1rem; /* Further adjusted margin for smaller screens */
  }

  .button {
    font-size: 0.8rem;
  }
}
